{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
    <div>
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
        <p>Price: ${{ price }}</p>
        <p>Category: {{ category }}</p>

        <h2>Features:</h2>
        <ul>
            <li>Processor: {{ features.processor.brand }} {{ features.processor.model }} ({{ features.processor.speed
                }}), Cores: {{ features.processor.cores }}</li>
            <li>Memory: {{ features.memory.size }} {{ features.memory.type }} RAM ({{ features.memory.speed }})</li>
            <li>Storage: {{ features.storage.size }} {{ features.storage.type }}</li>
            <li>Display: {{ features.display.size }}, {{ features.display.resolution }} {{ features.display.technology
                }}</li>
            <li>Graphics: {{ features.graphics.brand }} {{ features.graphics.model }} ({{ features.graphics.memory }})
            </li>
            <li>Battery: {{ features.battery.capacity }} {{ features.battery.type }} ({{ features.battery.life }})</li>
            <li>Weight: {{ features.weight }}</li>
            <li>Dimensions: {{ features.dimensions.height }} x {{ features.dimensions.width }} x {{
                features.dimensions.depth }}</li>
            <li>Operating System: {{ features.operating_system }}</li>
        </ul>

        <h2>Ports:</h2>
        <ul>
            {{#each features.ports}}
            <li>{{ this.type }} - Count: {{ this.count }}</li>
            <ul>
                {{#each this.features}}
                <li>{{ this }}</li>
                {{/each}}
            </ul>
            {{/each}}
        </ul>

        <h2>Accessories:</h2>
        <ul>
            {{#each features.accessories}}
            <li>{{ this.name }} - Price: ${{ this.price }}</li>
            {{/each}}
        </ul>
    </div>
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}