<main>
    <div>
        <nav class="m-3">
            <div class="nav">
                {{#with navigation}}
                {{#each links}}
                <div class="nav-item">
                    <a href="#" class="nav-link {{#unless href}}disabled{{/unless}}">{{text}}</a>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </nav>
    </div>

    <hr>

    <h1 class="row m-4">{{header}}</h1>

    <div>
        <h2 class="row m-4">{{contacts_data.title}}</h2>
        <div class="col m-4" type="text-align: right;">
            {{#each contacts_data.buttons}}
            <button {{#if isPrimary}}class="btn btn-warning btn-block m-2" {{/if}}{{#if
                isOutline}}class="btn btn-outline-warning btn-block m-2" {{/if}}>{{text}}</button>
            {{/each}}
        </div>
    </div>

    <div class="row m-4">
        {{#each contacts_data.form.input}}
        <div class="col-6">
            <form>
                <label class="{{@key}}form-label">{{label}}</label>
                <input type="text" class="{{@key}}" placeholder="{{placeholder}}">
                <p>{{caption}}</p>
            </form>
        </div>
        {{/each}}

    </div>

    <hr>

    <div class="row m-4 ">
        <div class="form-check form-switch">
            {{#each contacts_data.form.switch}}
            <div class="col-6">
                <label class="form-check-label mb-4">{{text}}</label>
                <input type="checkbox" class="form-check-input" {{#if isActive}}checked{{/if}}>
            </div>
            {{/each}}
        </div>
    </div>

    <hr>

    <div class="col-4 pe-5">
        <div class="card">
            <div class="col m-4" type="text-align: left;">
                {{#each action_block}}
                <button {{#if isSuccess}}class="btn btn-success btn-block m-2" {{/if}} {{#if
                    isDanger}}class="btn btn-danger btn-block m-2" {{/if}} {{#if
                    isInfo}}class="btn btn-info btn-block m-2{{/if}}">{{text}}</button>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>



</main>