<div>

    <nav>
        <ul class="nav">
            {{#with navigation}}
            {{#each links}}
            <li class="nav-item">
                <a class="nav-link" href="{{href}}">{{text}}</a>
            </li>
            {{/each}}
            <li class="nav-item">
                <a class="btn btn-primary" href="{{button.href}}">{{button.text}}</a>
            </li>
            {{/with}}
        </ul>
    </nav>

    <hr>

    <header>
        {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a class="btn btn-primary" href="{{button.link}}">{{button.text}}</a>
        {{/with}}
    </header>

    <hr>

    <section class="city">
        <div class="row gy-3 gx-2">
            {{#with city}}
            <h2>{{title}}</h2>
            {{#each cards}}
            <div class="card col-6">
                <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
                <div class="card-body">
                    <h3 class="card-title">{{title}}</h3>
                    <p class="card-text">{{description}}</p>
                    <a class="btn btn-primary" href="{{button.href}}">{{button.text}}</a>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </section>

    <hr>

    <section class="winner">
        {{#with winner}}
        <h2>{{title}}</h2>
        <table class="table">
            <thead>
                <tr>
                    {{#each table.head}}
                    <th scope="col">{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each table.user}}
                <tr>
                    <th scope="row">{{place}}</th>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/with}}
    </section>

    <hr>

    <section class="gallery col-12 ">
        {{#with gallery}}
        <h2>{{title}}</h2>
        <div class="row g-2">
            {{#each cards}}
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        {{name}}
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                            {{#each items}}
                            <tr>
                                <td>{{this}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr>

    <section class="relaxion">
        {{#with relaxion}}
        <h2 class="display-3">{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="card g-6 col-5">
                <div class="card text-bg-secondary">
                    <div class="card-header">{{header}}</div>

                    <div class="card-body">
                        <h3 class="card-title">{{title}}</h3>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr>

    <section class="rest">
        {{#with rest}}
        <div class="row">
            {{#each cards}}
            <div class="card g-6 col-5">
                <div class="card text-center">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body  ">
                        <h3 class="card-title">{{title}}</h3>
                        <p class="card-text">{{description}}</p>
                        <a class="btn btn-primary" href="#">{{button}}</a>
                        <div class="card-footer">{{footer}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr>

    <section class="proposition">
        {{#with proposition}}
        <h2 class="display-6">{{title}}</h2>
        <div class="row">
            {{#each card}}
            <div class="card g-6 col-5 text-bg-warning">
                <div class="card-header">{{header}}</div>
                <div class="card-body">
                    <h3 class="card-title">{{title}}</h3>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr>

    <footer>
        {{#with footer}}
        <h5>{{title}}</h5>
        <div class="row">
            <div class="col-3">
                {{#each navigation}}
                <div class="col-3">
                    <a href="{{href}}">{{text}}</a>
                </div>
                {{/each}}
            </div>

            <div class="col-3">
                {{#each socialMedia}}
                <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                {{/each}}
            </div>
            <div class="col-3">
                {{#each partners}}
                <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </footer>
</div>